@model WarehouseManagementSystem.Models.Supplier

@{
    ViewData["Title"] = "Tedarikçi Düzenle";
}

<h1>Tedarikçi Düzenle</h1>

<form asp-action="SupplierEdit" method="post">
    <div class="form-group">
        <label asp-for="SupplierName" class="control-label"></label>
        <input asp-for="SupplierName" class="form-control" />
        <span asp-validation-for="SupplierName" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="SupplierID" />
    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>
    @Html.AntiForgeryToken()
</form>
